body {
  background-color: red;
}
.Container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px 600px 600px 600px 600px;
  grid-gap: 10px 10px;
}
.Avengers {
  grid-column: 1/4;
  grid-row: 1/1;
}
.Iron-man {
  grid-column: 1/3;
  grid-row: 2/2;
}
.Captain-america {
  grid-column: 3/3;
  grid-row: 2/2;
}
.Thor {
  grid-column: 1/2;
  grid-row: 3/3;
}
.Spider-man {
  grid-column: 2/4;
  grid-row: 3/3;
}
.Hulk {
  grid-column: 1/4;
  grid-row: 4/4;
}
.Team {
  grid-column: 1/3;
  grid-row: 5/5;
}
.Thanos {
  grid-column: 3/3;
  grid-row: 5/5;
}
img {
  position: relative;
  width: 100%;
  height: 100%;
}
.Container > div {
  border: 3px solid black;
}
@media screen and (max-width: 640px) {
  img {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 640px) {
  img {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 640px) {
  img {
    width: 50%;
    height: 50%;
  }
}